*{
    margin: 0;
    padding: 0;
    line-height: 2;
}
body{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
}
.List{
    list-style-type: none;
    width:100%;
    padding: 10px;
}
.items{
    width: 80%;
    margin: 20px auto;
}

