#root{
    height: 100%;
    width: 320px;
    margin: 0 auto;
}
.container{
    width: 100%;
    max-width: 1100px;
    background: #f4f4f4;
}


.deng{
	top: 0;
    position: absolute;
    height: 100%;
    width: 0;
    background: #007bff;
    opacity: 0;
    color: #fff;
    transition: .4s ease-in;
    padding: 10px;
}

.menu{
    margin-left: 0;
	top: 0;
    position: absolute;
    height: 100%;
    width: 250px;
    background: #007bff;
    opacity: .6;	
    color: #fff;
    transition: .5s ease-out;
    padding: 10px
}